
<div class="row">
    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        <div class="jumbotron br-purple">
            <h2>@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>
            <p class="lead">
                Why choose ASP.NET Core?
                Millions of developers have used (and continue to use) ASP.NET 4.x to create web apps.
                ASP.NET Core is a redesign of ASP.NET 4.x, with architectural changes that result in a leaner, more modular framework.
            </p>
            <p>
                A unified story for building web UI and web APIs.
                Architected for testability.
                Razor Pages makes coding page-focused scenarios easier and more productive.
                Blazor lets you use C# in the browser alongside JavaScript. Share server-side and client-side app logic all written with .NET.
                Ability to develop and run on Windows, macOS, and Linux.
                Open-source and community-focused.
                Integration of modern, client-side frameworks and development workflows.
                A cloud-ready, environment-based configuration system.
                Built-in dependency injection.
                The code for this site is open source and is available on <a href="https://github.com/sonwabilestarzuma/MyBestCountries">GitHub</a>. Feel free
                to add comments, issues, or pull requests there.
            </p>
            <hr />
            <p>To get started, register with the website and start adding your visits: <a class="btn btn-success btn-lg" href='@Url.Action("Register", "Account")'>Get Started</a></p>
        </div>
    </div>
</div>